gris = #565656
gris_claro = #D9DADA
amarillo = #F8C03B
amarillo_oscuro = #B16828
verde = #97C95A

::selection
    background amarillo
body
    background white
a
    color gris
#login
    a
        color white
.dialog
    .panel
        background verde
        border 1px solid amarillo
        box-shadow none
.container-field
    margin-right 100px
.submit
    background amarillo
    border none
    border-bottom 5px solid amarillo_oscuro
    border-radius 5px
    box-sizing border-box
    color amarillo_oscuro
    cursor pointer
    font-weight bold
    height 55px
    outline 0
    position absolute
    right 0
    text-transform uppercase
    top 0
    width 90px
.field
    background white
    border 1px solid gris
    color gris
    border-bottom-width 2px
    padding-bottom 27px
    &:focus
        border-color amarillo
.chat 
    nav
        float right
        margin 0
        a
            &:hover
                color black
    .user
        float left
        .avatar
            width 30px
            border-radius 50%
            display inline-block
            vertical-align middle
        span
            color black
            margin-left 10px
    .chatbox
        padding 0
        margin-bottom 10px
        .chatform
            &.sending
                &:after
                    background rgba(amarillo, 0.6) url("/images/website/form-sending.gif") center center no-repeat
    .messages 
        padding-bottom 20px
        padding-top 1px
        top 55px
        &.logged
            top 110px
            border-top 1px solid gris_claro
        .message
            border-bottom 1px solid #EAEAEA
            color gris
            padding-right 20px
            text-shadow none
            &.sameuser
                background gris_claro
                border-left-color amarillo
            .mention
                background verde
                color white
            .avatar
                border-radius 50%
                overflow hidden
            .borrar
                color amarillo
                text-shadow 2px 1px 0 #000
                &:hover
                    color black
                &.ready
                    border-radius 50%